body{ margin: 10px;}
.input-group { margin-top: 10px;}

h2 {color :#ddd;}
label,p,div {color :#aaa;}

.devise_login_form { margin: 100px auto; width: 1000px;}
body.devise {background-repeat: no-repeat; height: 100%; width: 100%; }