<%
menus =
{
  "活動列表" => "/events/xxx",
  "自己的活動列表" => "/me/events",
  "開辦活動" => "/events/new",
  "已加入活動" => "fff/"

}
%>
<div>
  <ul class="nav nav-pills">
  <% menus.each do |k,v| %>
    <% if request.original_url.to_s.include? v %>
    <li class="active"><a href><%= k %></a></li>
    <% else %>
    <li><a href="<%= v %>"><%= k %></a></li>
    <% end %>
  <% end %>
  </ul>
</div>